<nav id="nav" class="navbar navbar-expand-md navbar-dark bg-black fixed-top navbar-height">
    <div class="container">
        <a class="navbar-brand" href="" (click)=" scrollTop();">{{constants.logoText}}</a>
        <button class="navbar-toggler hidden-sm-up" type="button" (click)="isMenuCollapsed = !isMenuCollapsed"
            data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
            <ul class="navbar-nav navbar-dark ml-auto">
                <li class="nav-item" (click)="menuClick($event);" [class.active]="scroll >= 0 && scroll < 78.5">
                    <a class="nav-link" href="#home" (click)=" isMenuCollapsed = true; scrollTop();
                        ">
                        {{ menuConstants.home }}</a>
                </li>
                <li class="nav-item" (click)="menuClick($event);" [class.active]="scroll >= 79 && scroll < 156.5">
                    <a class="nav-link" href="#about" (click)="isMenuCollapsed = true">{{ menuConstants.about }}</a>
                </li>
                <li class="nav-item" (click)="menuClick($event);" [class.active]="scroll >= 156 && scroll < 323">
                    <a class="nav-link" href="#resume" (click)="isMenuCollapsed = true">{{
                        menuConstants.resume}}</a>
                </li>
                <li class="nav-item" (click)="menuClick($event);" [class.active]="scroll >= 323 && scroll < 419">
                    <a class="nav-link" href="#services" (click)="isMenuCollapsed = true">{{
                        menuConstants.services}}</a>
                </li>
                <li class="nav-item" (click)="menuClick($event);" [class.active]="scroll >= 419 && scroll < 600">
                    <a class="nav-link" href="#skills" (click)="isMenuCollapsed = true">{{
                        menuConstants.skills}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects" routerLinkActive="active"
                        (click)="isMenuCollapsed = true">{{ menuConstants.projects}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#blogs" routerLinkActive="active"
                        (click)="isMenuCollapsed = true">{{ menuConstants.blogs}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact" routerLinkActive="active"
                        (click)="isMenuCollapsed = true">{{ menuConstants.contact}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>