<section class="d-flex mb-5" id="blogs">
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center pb-5">
            <div class="col-md-10 heading-section text-center ftco-animate fadeInUp ftco-animated">
                <h3 class="mt-5 font-weight-bold">My Projects</h3>
                <p class="basic-text">A small river named Duden flows by their place and supplies it with the necessary
                    regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                </p>
            </div>
        </div>
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-md-6 text-center d-flex">
                    <div class="sr-projects-div ">
                        <span class="icon">
                            <i class="fa fa-book fa-3x" aria-hidden="true"></i>
                        </span>
                        <div class="desc">
                            <h6 class="my-4">Teaching/Tutions</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center d-flex">
                    <div class="sr-projects-div ">
                        <span class="icon">
                            <i class="fa fa-camera-retro fa-3x" aria-hidden="true"></i>
                        </span>
                        <div class="desc">
                            <h6 class="my-4">Phtography</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center d-flex">
                    <div class=" sr-projects-div ">
                        <span class="icon">
                            <i class="fa fa-users fa-3x" aria-hidden="true"></i>
                        </span>
                        <div class="desc">
                            <h6 class="my-4">Counselling</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center d-flex  ">
                    <div class="sr-projects-div ">
                        <span class="icon">
                            <i class="fa fa-microphone fa-3x" aria-hidden="true"></i>
                        </span>
                        <div class="desc">
                            <h6 class="my-4">Voice Over</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center d-flex  ">
                    <div class="sr-projects-div ">
                        <span class="icon">
                            <i class="fa fa-music fa-3x" aria-hidden="true"></i>
                        </span>
                        <div class="desc">
                            <h6 class="my-4">Flute Playing</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center d-flex  ">
                    <div class="sr-projects-div">
                        <span class="icon">
                            <i class="fa fa-file-code-o fa-3x" aria-hidden="true"></i>
                        </span>
                        <div class="desc">
                            <h6 class="my-4">Web Design</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>