<section class="d-flex" id="about">
    <div class="container text-center mt-5 mb-5">
        <div class="col-md-12 p-0 d-inline-block">
            <h3 class="font-weight-bold color-white">About Me</h3>
            <div class="col-md-6 p-0 float-right mt-4">
                <div>
                    <img src="../../assets/images/SR.jpeg" class="img-fluid" alt="SR" style="height: 25rem;" />
                </div>
            </div>

            <div class="col-md-6 p-0 float-left mt-4 ml-0">
                <div>
                    <h6 class="basic-text text-left mt-3">
                        A small river named Duden flows by their place and supplies it with the necessary regelialia.
                    </h6>
                </div>
                <div class="about-detils mt-5">
                    <!-- <ul class="about-info text-left mt-4 pl-0">
                        <li class="d-flex mb-3"><span>Name:</span> <span class="basic-text">Santosh Ramamurthy</span>
                        </li>
                        TODO <li class="d-flex mb-3"><span>Date of birth:</span> <span>February 01, 1987</span></li>
                        <li class="d-flex mb-3"><span>Address:</span> <span class="basic-text">Mansi Apt, Nachiket Park
                                Lane, Baner Road,
                                Pune</span></li>
                        <li class="d-flex mb-3"><span>Zip code:</span> <span class="basic-text">411045</span></li>
                        <li class="d-flex mb-3"><span>Email:</span> <span
                                class="basic-text">santoshramamurthy.sr@gmail.com</span></li>
                        <li class="d-flex mb-3"><span>Phone: </span> <span class="basic-text">+91 9028919024</span></li>
                    </ul> -->
                    <div class="container">
                        <div class="row">
                            <div class="row">
                                <div class="col-4 col-sm-3 col-md-4 text-left font-weight-bold mt-2">Name</div>
                                <div class="col-8 col-sm-9 col-md-8 text-left basic-text mt-2">Santosh Ramamurthy</div>
                                <!--TODO <li class="d-flex mb-3"><span>Date of birth:</span> <span>February 01, 1987</span></li> -->

                                <!-- Force next columns to break to new line -->
                                <div class="w-100"></div>
                                <div class="col-4 col-sm-3 col-md-4 text-left font-weight-bold mt-2">Address</div>
                                <div class="col-8 col-sm-9 col-md-8 text-left basic-text mt-2">
                                    Mansi Apt, Nachiket Park Lane, Baner Road,Pune</div>

                                <!-- Force next columns to break to new line -->
                                <div class="w-100"></div>
                                <div class="col-4 col-sm-3 col-md-4 text-left font-weight-bold mt-2">Zip code</div>
                                <div class="col-8 col-sm-9 col-md-8 text-left basic-text mt-2">411045</div>

                                <!-- Force next columns to break to new line -->
                                <div class="w-100"></div>
                                <div class="col-4 col-sm-3 col-md-4 text-left font-weight-bold mt-2">Email</div>
                                <div class="col-8 col-sm-9 col-md-8 text-left basic-text mt-2">santosh.sr@gmail.com
                                </div>

                                <!-- Force next columns to break to new line -->
                                <div class="w-100"></div>
                                <div class="col-4 col-sm-3 col-md-4 text-left font-weight-bold mt-2">Phone</div>
                                <div class="col-8 col-sm-9 col-md-8 text-left basic-text mt-2">+91 9028919024</div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5 font-weight-bold text-left"><span class="color-yellow">120</span> Projects Complete
                </div>
                <!--TODO Santosh Ramamurthy
                266/3 , flat 3, 1st floor,Mansi Apt,
                Nachiket Park Lane(opposite TVS showroom)
                Baner road
                Pune 411045 -->
            </div>
        </div>
    </div>
</section>