<section class="d-flex mb-5" id="skills">
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center pb-5">
            <div class="col-md-10 heading-section text-center  ">
                <h3 class="mt-5 font-weight-bold">My Skills</h3>
                <p class="basic-text">A small river named Duden flows by their place and supplies it with the necessary
                    regelialia.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <div class=" sr-progress-wrap mb-5">
                        <h5>Photoshop</h5>
                        <div class="progress">
                            <div class="progress-bar color-1" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                aria-valuemax="100" style="width:90%">
                                <span>90%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class=" sr-progress-wrap mb-5">
                        <h5>jQuery</h5>
                        <div class="progress">
                            <div class="progress-bar color-2" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                aria-valuemax="100" style="width:85%">
                                <span>85%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class=" sr-progress-wrap mb-5">
                        <h5>HTML5</h5>
                        <div class="progress">
                            <div class="progress-bar color-3" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                                aria-valuemax="100" style="width:95%">
                                <span>95%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class=" sr-progress-wrap mb-5">
                        <h5>CSS3</h5>
                        <div class="progress">
                            <div class="progress-bar color-4" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                aria-valuemax="100" style="width:90%">
                                <span>90%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class=" sr-progress-wrap mb-5">
                        <h5>WordPress</h5>
                        <div class="progress">
                            <div class="progress-bar color-5" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                aria-valuemax="100" style="width:70%">
                                <span>70%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class=" sr-progress-wrap mb-5">
                        <h5>SEO</h5>
                        <div class="progress">
                            <div class="progress-bar color-6" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                aria-valuemax="100" style="width:80%">
                                <span>80%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>