<section class="d-flex">
    <div class="container text-center mt-5 mb-5">
        <div class="col-md-12 p-0  d-inline-block">
            <h3 class="font-weight-bold color-white">Resume</h3>
            <div class="">
                <p class="basic-text text-left col-md-10  mt-3">A small river named Duden flows by their place and
                    supplies it
                    with the necessary regelialia. A small river named Duden flows by their place and supplies it
                    with the necessary regelialia.</p>

            </div>
            <!-- <div class="col-md-6 p-0 float-left mt-4">
            </div>

            <div class="col-md-6 p-0 float-right mt-4 ml-0">
            </div> -->
            <div class="col-md-12">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>