<section class="d-flex mb-5" id="resume">
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center pb-5">
      <div class="col-md-10 heading-section text-center ftco-animate fadeInUp ftco-animated">
        <h3 class="mt-5 font-weight-bold">Resume</h3>
        <p class="basic-text">A small river named Duden flows by their place and supplies it with the necessary
          regelialia. It is a
          paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 sr-md-61">
        <div class="sr-resume-wrap">
          <span class="sr-date">2014-2015</span>
          <h2>Master Degree of Design</h2>
          <span class="text-uppercase basic-text">Cambridge University</span>
          <p class="mt-4 basic-text">A small river named Duden flows by their place and supplies it with the necessary
            regelialia.
            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        </div>
        <div class="sr-resume-wrap">
          <span class="sr-date">2014-2015</span>
          <h2>Bachelor's Degree of C.A</h2>
          <span class="text-uppercase basic-text">Cambridge University</span>
          <p class="mt-4 basic-text">A small river named Duden flows by their place and supplies it with the necessary
            regelialia.
            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        </div>
        <div class="sr-resume-wrap">
          <span class="sr-date">2014-2015</span>
          <h2>Diploma in Computer</h2>
          <span class="text-uppercase basic-text">Cambridge University</span>
          <p class="mt-4 basic-text">A small river named Duden flows by their place and supplies it with the necessary
            regelialia.
            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        </div>
      </div>
      <div class="col-md-6 sr-md-61">
        <div class="sr-resume-wrap">
          <span class="sr-date">2014-2015</span>
          <h2>Art &amp; Creative Director</h2>
          <span class="text-uppercase basic-text">Cambridge University</span>
          <p class="mt-4 basic-text">A small river named Duden flows by their place and supplies it with the necessary
            regelialia.
            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        </div>
        <div class="sr-resume-wrap">
          <span class="sr-date">2014-2015</span>
          <h2>Wordpress Developer</h2>
          <span class="text-uppercase basic-text">Cambridge University</span>
          <p class="mt-4 basic-text">A small river named Duden flows by their place and supplies it with the necessary
            regelialia.
            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        </div>
        <div class="sr-resume-wrap">
          <span class="sr-date">2017-2018</span>
          <h2>UI/UX Designer</h2>
          <span class="text-uppercase basic-text">Cambridge University</span>
          <p class="mt-4 basic-text">A small river named Duden flows by their place and supplies it with the necessary
            regelialia.
            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        </div>
      </div>
    </div>
  </div>
</section>